@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>Our application is designed to provide the best experience for our users. We are committed to delivering high-quality services and continuously improving our platform.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla, lacus at tristique facilisis, nulla quam facilisis mauris, at consectetur erat risus id lorem. Nam vehicula orci nec diam hendrerit, at pellentesque eros convallis.</p>
    <p>Feel free to explore our features and don't hesitate to reach out if you have any questions.</p>
</div>
