@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Application!</h1>
    <p class="lead">This is your starting point for exploring the features of our application.</p>
    <p>Learn more about us or contact us using the links below.</p>
    <a href="~/Home/About" class="btn btn-primary">Learn More</a>
    <a href="~/Home/Contact" class="btn btn-secondary">Contact Us</a>
</div>
